header .top {
  height: 40px;
}
header .top .socials ul li {
  position: relative;
  float: left;
  margin: 5px 0 5px 5px;
}
li {
  display: list-item;
}
header .top .socials ul {
  list-style: none;
}
#search {
  width: 258px;
  float: right;
  position: relative;
  padding: 5px;
}
#search input {
  padding-left: 25px;

}
.button-search {
  top: 7px;
  position: absolute;
  left: 0px;
  background: url("./images/button-search.png") center center no-repeat;
  width: 28px;
  height: 17px;
  border-right: 1px solid #EEEEEE;
  cursor: pointer;
}
div {
  display: block;
}